{% extends 'base.html' %}
{% block title %}
STeachApp
{% endblock %}

{% block content %}

  <main>
    <div class="container py-5">
      <div class="p-5 mb-4 text-black-100 bg-light rounded-3">
        <div class="container-fluid py-5">
        
          <h1 class="display-5 fw-bold lh-lg">STeachApp ' e Hoşgeldiniz!</h1>
          
          <p class="col-md-8 fs-4">
            Özel Ders Uygulaması olan STeachApp, ilanlarınızı anında eğitmenlerle buluşturarak size verimli bir öğrenme
            süreci sunar.
          </p>
        </div>
      </div>
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-secondary bg-dark rounded-3">
            <h2>ÖĞRENCİ</h2>
            <P>Ders ilanı vererek istediğiniz bir kategoride özel ders alabilirsiniz.</P>
            <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-secondary" type="button">
                Öğrenci Kayıt
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 text-danger bg-dark border rounded-3">
            <h2>EĞİTMEN</h2>
            <P>Verilen ilanlara başvuru yaparak, özel ders verebilirsiniz.</P>
            <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-danger" type="button">
                Eğitmen Kayıt
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
{% endblock %}
