{% extends 'layout.html' %}
{% load static %}

{% block title %}
İlanlar
{% endblock %}

{% block content %}
{% for ilan in ilanlar %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="media/statu/ilan/space_child.jpg" class="card-img-top" height="200" style="vertical-align:bottom">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ ilan.ilan_baslik}}</h5>
          <p class="card-title" href=""><small class="text-muted">{{ ilan.ilan_sahibi}}</small></p>
          <p class="card-text">{{ ilan.icerik|truncatechars_html:100 }},{{ ilan.fiyat }}₺ </p>
          <p class="card-text"><small class="text-muted">{{ ilan.konum }},{{ ilan.olus_tarih }},{{ ilan.olus_tarih|timesince }}</small></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
{% empty %}
<p>Hiç Yazı Bulunamadı..</p>
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if ilanlar.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?sayfa={{ilanlar.previous_page_number}}" tabindex="-1" aria-disabled="true">Önceki</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Önceki</a>
      </li>
    {% endif %}
   
    <li class="page-item"><a class="page-link" href="#">{{ilanlar.number}}</a></li>
    
    {% if ilanlar.has_next %}
      <li class="page-item">
        <a class="page-link" href="?sayfa={{ilanlar.next_page_number}}">{{ ilanlar.next_page_number}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?sayfa={{ilanlar.paginator.num_pages}}">Son Sayfa</a>
      </li>
    {%endif%}
    
  </ul>
</nav>

{% endblock %}