{% extends 'layout.html' %}
{% load static %}
{% block title %}
Profil
{% endblock %}

{% block content %}
<!--
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="profil">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">İlan Ver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">İlanlarım</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Başvuru Yap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Başvurularım</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profil Düzenle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Şifre Değiştir</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Çıkış</a>
    </li>
</ul>
-->

<div class="card" style="width: 9rem;" >
  <img src="{% static 'media/avatar' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Kullanıcı Adı</h5>
    <p class="card-text">statüsü</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="#" style="color: darkred;">Profil Düzenle</a>
    </li>

    <li class="list-group-item">
      <a href="#" style="color: darkred;">İlanlarım</a>
    </li>
    <li class="list-group-item">
      <a href="#" style="color: darkred;">İlan Ver</a>
    </li>
    <li class="list-group-item">
      <a href="#" style="color: maroon;">Başvurular</a>
    </li>
    <li class="list-group-item">
      <a href="#" style="color: maroon;">Başvuru Yap</a>
    </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link" style="color: black;">Çıkış</a>
  </div>
</div>

{% endblock %}