{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block content %}

<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="profil">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">İlan Ver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">İlanlarım</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Başvuru Yap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Başvurularım</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profil Düzenle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Şifre Değiştir</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Çıkış</a>
    </li>
  </ul>



{% endblock %}