{% load kategori_list %}
{% load kategori %}
{% kategori_list as kategoriler %}


<div class="col-sm-3">

    <div class="card mb-3">
        <div class="card-header">
            Kategoriler
        </div>
        <ul class="list-group list-group-flush">
            {% for kategori in kategoriler %}
            <li class="list-group-item">
                <a href="{% url 'kategori' kategoriSlug=kategori.slug %}">{{ kategori.ders }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>