{% load kategori_list %}
{% kategori_list as kategoriler %}



<div class="col-md-6 float-md-end mb-3 ms-md-3">

    <div class="card text-white bg-dark mb-3" style="width: 10rem;">
        <div class="card-header">
            Kategoriler
        </div>
        <ul class="list-group list-group-flush">
            {% for kategori in kategoriler %}
            <li class="list-group-item">
                <a href="{% url 'kategori' kategoriSlug=kategori.slug %}" style="color: darkgoldenrod;">{{ kategori.ders }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
