{% extends 'layout.html' %}
{% load static %}


{% block title %}
Profil
{% endblock %}

{% block profils %}






<!--
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="profil">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">İlan Ver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">İlanlarım</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Başvuru Yap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Başvurularım</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profil Düzenle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Şifre Değiştir</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Çıkış</a>
    </li>
</ul>
-->

{% if request.user.is_authenticated %}


<div class="col order-first">
  <div class="card" style="width: 11rem; color:rgb(55, 64, 71)">
    <img src="media/avatar/teacher_profile_pic/kadınlar.PNG" class="card-img-top" height="200"
      style="vertical-align:bottom">
    <div class="card-body">
      <h5 class="card-title">{{request.user}}</h5>


      <p class="card-text">statü</p>




    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="width: 9rem;">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="btnradio1">Profil Düzenle</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="width: 9rem;">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="btnradio2">İlanlarım</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="width: 9rem;">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="btnradio3">İlan Ver</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="width: 9rem;">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="btnradio4">Başvurular</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="width: 9rem;">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="btnradio5">Başvuru Yap</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="width: 9rem;">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" checked>
          <label class="btn btn-outline-dark" for="btnradio6">Çıkış</label>
        </div>
      </li>
    </ul>
  </div>
</div>
{% else %}

<div class="alert alert-danger" role="alert">
  Henüz Giriş yapılmadı!
</div>
{% endif %}

{% endblock %}

{% block kategoris %}
{% include 'includes/sidebar.html' %}
{% endblock %}