<div class="col-sm-3">

    <div class="card mb-3">
        <div class="card-header">
            Menü
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="#">Profil Düzenle</a>
            </li>
            <li class="list-group-item">
                <a href="#">Şifre Değiştir</a>
            </li>
            <li class="list-group-item">
                <a href="#">İlan Ekle</a>
            </li>
            <li class="list-group-item">
                <a href="#">İlanlarım</a>
            </li>
            <li class="list-group-item">
                <a href="#">İlan Başvuru</a>
            </li>
            <li class="list-group-item">
                <a href="#">Başvurular</a>
            </li>
            <li class="list-group-item">
                <a href="#">Çıkış</a>
            </li>
        </ul>

    </div>

</div>